<p id="notice"><%= notice %></p>

<% @verses.each do |verse| %>
  <p class="text-right">
    <%= verse.post_date.strftime("%A, %B %d, %Y") %>
  </p>

  <p class="verse-title text-center">
    <%= verse.title %>
  </p>

  <p>
    <%= verse.text %>
  </p>

   
  <hr>
  <%= link_to 'Show', verse %>
  <%= link_to 'Edit', edit_verse_path(verse) %>
  <%= link_to 'Destroy', verse, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br>

<%= link_to 'New Verse', new_verse_path %>
