<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @verse.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= simple_format(@verse.text) %>
</p>

<p>
  <strong>Post date:</strong>
  <%= @verse.post_date %>
</p>

<%= link_to 'Edit', edit_verse_path(@verse) %> |
<%= link_to 'Back', verses_path %>
