<!DOCTYPE html>
<html lang="en">
<head>
  <title>A Bible Devotion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="container">

    <header>
      <h1 class="text-center">A Bible Devotion</h1>

      <hr />
    </header>

    <%= yield %>
  </div>

  <hr>

<p class="text-center">
  email: <%= link_to "web@aDevotion.org", "mailto:web@aDevotion.org" %> | <%= link_to "www.aDevotion.org", "http://www.aDevotion.org" %>
</p>

</body>
</html>
